.flag {
  height: 600px;
  width: 750px;
  border: 1px solid black;
}

.firstpart {
  background-color: blue;
  height: 200px;
  width: inherit;
  margin: 0px;
}

.secondpart {
  background-color: red;
  height: 200px;
  width: inherit;
  margin: 0px;
}

.thirdpart {
  background-color: green;
  height: 200px;
  width: inherit;
  margin: 0px;
}
